{% extends 'base.html' %} 

{% block header_title %}
  A meal prepping community
{% endblock header_title %}
{% block header_extra %}
<div class="row">
    <div class="col-9">
        <p class="lead fw-normal">
            Welcome to What's Cooking! We are passionate about meal prepping, and providing you with the best meal prepping tools. Stay on top of your prep
            game and make the most of your time by using What's Cooking.
        </p>
    </div>
</div>
{% endblock header_extra %}
{% block content %}
    <div class="container-fluid">
        <div class="row p-5">
            <div class="col-sm-12 pb-5 col-md-5 pb-md-0 text-center">
                <i class="fas fa-calendar-alt tool-icon"></i>
            </div>
            <div class="col-sm-12 col-md-7">
                <h2 class="display-5 fw-bold">Meal planner</h2>
                <p>
                    How can you be a real meal prepper without a meal planner? Select the meals you want for each day of the week, 
                    and you will no longer forget What's Cooking for dinner. The plan you make can be edited at any time and will 
                    contain links to the recipes that you picked.
                </p>
                {% if user.is_authenticated %}
                    <a href="{% url 'meal_planner' %}" class="btn btn-dark">To meal planner</a>
                {% else %}
                    <p>
                        Only registered users are able to use the meal planner tool - so what are you waiting for?
                    </p>
                    <a href="{% url 'account_signup' %}" class="btn btn-dark">Create account</a>
                {% endif %}
            </div>
        </div>
        <div class="row p-5 bg-accent">
            <div class="col-sm-12 order-sm-2 col-md-7 order-md-1">
                <h2 class="display-5 fw-bold">Carefully picked recipes</h2>
                <p>
                    It's hard to find simple recipes that you love, so we did the hard work for you. Our recipes are hand-picked 
                    from the best recipe websites that the internet can serve. Filter by breakfast, lunch, dinner, snacks, or 
                    even dietary requirements. Your next favorite meal is only a few clicks away!
                </p>
                <a href="{% url 'recipe_list' %}" class="btn btn-dark">To recipe list</a>
            </div>
            <div class="col-sm-12 pb-5 order-sm-1 col-md-5 pb-md-0 order-md-2 text-center">
                <i class="fas fa-list-ol tool-icon"></i>
            </div>
        </div>
        <div class="row p-5">
            <div class="col-sm-12 pb-5 col-md-5 pb-md-0 text-center">
                <i class="fas fa-envelope tool-icon"></i>
            </div>
            <div class="col-sm-12 col-md-7">
                <h2 class="display-5 fw-bold">Questions or feedback</h2>
                <p>
                    If you have any further questions, found a bug or simply would like to provide us with some feedback, please  
                    feel free to contact us!
                </p>
                <a href="{% url 'contact' %}" class="btn btn-dark">Contact us</a>
            </div>
        </div>
    </div>
{% endblock content %}