{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block header_title %}
    {{ user.username }}'s profile
{% endblock header_title %}
{% block header_text %}
    You can find your account details here.
{% endblock header_text %}
{% block content %}
    <div class="container py-5">
        <div class="row pb-5">
            <div class="col-md-8 offset-md-2">
                <div class="card login-card bg-light">
                    <div class="card-body">
                        <form class="login" method="POST" action="{% url 'account_login' %}">
                            <div class="login-container">
                                <p>
                                    <strong>Username:</strong> {{ user.username }}
                                </p>
                                <p>
                                    <strong>First name:</strong> {{ user.first_name }}
                                </p>
                                {% if user.email %}
                                    <p>
                                        <strong>Email:</strong> {{ user.email }}
                                    </p>
                                {% endif %}
                                <p>
                                    <strong>Created on:</strong> {{ user.date_joined }}
                                </p>
                                <!-- Button opens modal to confirm account deletion -->
                                <button type="button" class="btn btn-danger w-100" data-bs-toggle="modal" data-bs-target="#deletionModal">
                                    Delete account
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="deletionModal" tabindex="-1" role="dialog" aria-labelledby="deletion-form" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <form id="deletion-form" method="post" action="{% url 'delete_user' user %}">
                {% csrf_token %}
                <div class="modal-content">
                    <div class="modal-body">
                        <p>
                            Are you sure you want to delete your account? This action cannot be undone.
                        </p>
                    </div>
                    <div class="modal-footer justify-content-center">
                        <button type="submit" class="btn btn-danger">Yes, delete my account</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
