{% extends 'base.html' %} 

{% load crispy_forms_tags %}

{% block header_title %}
    Create meal plan {{ meal_plan.date|date:"d/m/Y" }}
{% endblock header_title %}
{% block header_text %}
    Create your new meal plan, or click cancel to go back.
{% endblock header_text %}
{% block content %}
    <div class="container py-5">
        <div class="row">
            <div class="col">
                <form method="POST" action="">
                    <h5>Please pick your meals:</h5>
                    <hr>
                    {% csrf_token %}
                    {{ formset.management_form }}
                    {{ form | crispy }}
                    {% for form in formset %}
                    <p><strong>Meal {{ forloop.counter }}:</strong></p>
                        {{ form | crispy }}
                        <hr>
                    {% endfor %}
                    <input type="hidden" name="meal_planner" value="{{ user.username }}">
                    <button type="submit" class="btn btn-success">Create plan</button>
                    <a href="{% url 'meal_planner' %}" class="btn btn-danger">Cancel</a>
                </form>
            </div>
        </div>
    </div>
    <script>
        hideFormSelect();
        delFormDelBtns();
    </script>
{% endblock content %}