{% extends 'base.html' %} 

{% block content %}
    <div class="jumbotron jumbotron-fluid hero-container">
        <div class="container-fluid p-5">
            <h1 class="text-white display-2">Meal planner</h1>
            <p class="lead text-white">
                Welcome, {{ user.first_name }}!
            </p>
        </div>
    </div>
    <div class="container py-5">
        <div class="row">
            <div class="col">

                <form method="POST" action="{% url 'meal_planner' %}">
                    <h5>Please pick a day:</h5>
                    {% csrf_token %}
                    {{ calendar_form.as_p }}
                    <button type="submit" class="button">Pick day</button>
                </form>
                

                <div class="table-responsive">
                    <table class="table align-middle">
                        <thead>
                            <tr>
                                {% for day in week %}
                                    <th>{{ day|date:"d/m/Y" }}</th>
                                {% endfor %}
                            </tr>
                        </thead>
                    
                        <tbody>
                            <tr>
                                {% for plan in mealplan_list %}
                                    {% for day in week %}
                                        {% if plan.date|date:"d/m/Y" == day|date:"d/m/Y" %}
                                            {% if forloop.counter >= 1 and forloop.counter <= 8 %}
                                                <td class="border-0">
                                                    <p>Breakfast</p>
                                                    <ul>
                                                        {% for meal in plan.meal_options.all %}
                                                            <li>
                                                                {{ meal }}
                                                            </li>
                                                        {% endfor %}
                                                    </ul>
                                                    <p>Lunch</p>
                                                    <ul>
                                                        
                                                    </ul>
                                                    <p>Dinner</p>
                                                    <ul>

                                                    </ul>
                                                    <p>Snack</p>
                                                    <ul>

                                                    </ul>
                                                </td>
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                {% endfor %}
                            </tr>   
                        </tbody>  
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}