{% extends 'base.html' %} 

{% block content %}
    <div class="jumbotron jumbotron-fluid hero-container">
        <div class="container-fluid p-5">
            <h1 class="text-white display-2">Meal planner</h1>
            <p class="lead text-white">
                Welcome, {{ user.first_name }}!
            </p>
        </div>
    </div>
    <div class="container py-5">
        <div class="row">
            <div class="col">

                <form method="POST" action="{% url 'meal_planner' %}">
                    <h5>Please pick a day:</h5>
                    {% csrf_token %}
                    {{ calendar_form.as_p }}
                    <button type="submit" class="button">Pick day</button>
                </form>

                
                <h2>Meal plan for {{ current_picked_date|date:"d/m/Y" }}</h2>
                <p>Breakfast</p>
                <ul>
                    {% for plan in mealplan_list %}
                        {% if current_picked_date|date:"d/m/Y" == plan.date|date:"d/m/Y" %}
                            {% if plan.meal_planner|stringformat:'s' == user.username %}
                                {% for meal in plan.meal_options.all %}
                                    <li>
                                        {{ meal }}
                                    </li>
                                {% endfor %}
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </ul>
                </ul>
                <p>Lunch</p>
                <ul>
                    {% for option in mealoption_list %}
                        {% if option.meal_type|stringformat:'s' == 'Lunch' %}
                            <li>
                                {{ option.meal_name }}
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
                <p>Dinner</p>
                <ul>
                    {% for option in mealoption_list %}
                        {% if option.meal_type|stringformat:'s' == 'Dinner' %}
                            <li>
                                {{ option.meal_name }}
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
                <p>Snacks</p>
                <ul>
                    {% for option in mealoption_list %}
                        {% if option.meal_type|stringformat:'s' == 'Snack' %}
                            <li>
                                {{ option.meal_name }}
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock content %}