{% extends 'base.html' %} 

{% block content %}
    <div class="jumbotron jumbotron-fluid hero-container">
        <div class="container-fluid p-5">
            <h1 class="text-white display-2">Meal planner</h1>
            <p class="lead text-white">
                Welcome, {{ user.username }}!
            </p>
        </div>
    </div>
    <div class="container py-5">
        <!-- <form action="" method="post">{% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Create" />
        </form> -->
        <div class="row">
            <div class="col">
                <!-- <h2>Specify the picked date</h2> -->
                <p>Breakfast</p>
                <ul>
                    {% for option in mealoption_list %}
                        {% if option.meal_type|stringformat:'s' == 'Breakfast' %}
                            <li>
                                {{ option.meal_name }}
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
                <p>Lunch</p>
                <ul>
                    {% for option in mealoption_list %}
                        {% if option.meal_type|stringformat:'s' == 'Lunch' %}
                            <li>
                                {{ option.meal_name }}
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
                <p>Dinner</p>
                <ul>
                    {% for option in mealoption_list %}
                        {% if option.meal_type|stringformat:'s' == 'Dinner' %}
                            <li>
                                {{ option.meal_name }}
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
                <p>Snacks</p>
                <ul>
                    {% for option in mealoption_list %}
                        {% if option.meal_type|stringformat:'s' == 'Snack' %}
                            <li>
                                {{ option.meal_name }}
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <!-- <form method="POST">
        <select name="item_id">
        {% for meal in meal_list %}
            <option value="{{ meal.id }}">{{ meal.name }}</option>
        {% endfor %}
        </select>
    </form> -->
{% endblock content %}