{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Log out" %}{% endblock %}

{% block content %}
  <div class="jumbotron jumbotron-fluid hero-container">
    <div class="container-fluid p-5">
        <h1 class="text-white display-2">{% trans "Log out" %}</h1>
        <p class="lead text-white">
          Are you sure you want to log out, {{ user.first_name }}?
        </p>
    </div>
  </div>
  <div class="container py-5">
    <div class="row pb-5">
        <div class="col-md-8 offset-md-2">
          <div class="card login-card bg-light">
            <div class="card-body">
              <div class="login-container">
                <form method="post" action="{% url 'account_logout' %}">
                  {% csrf_token %}
                  {% if redirect_field_value %}
                  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                  {% endif %}
                  <button type="submit" class="btn btn-block btn-login">{% trans 'Log out' %}</button>
                </form>
              </div>
            </div>
          </div>
          
        </div>
    </div>
  </div>
{% endblock %}
