{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block header_title %}
  Create account
{% endblock header_title %}
{% block header_text %}
  Welcome, we look forward to you joining us!
{% endblock header_text %}
{% block content %}
  <div class="container py-5">
    <div class="row pb-5">
        <div class="col-md-8 offset-md-2">
          <div class="card login-card bg-light">
            <div class="card-body">
              <div class="login-container">
                <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
                  {% csrf_token %}
                  {{ form.as_p }}
                  <input type="hidden" name="{{ redirect_field_name }}" value="../../mealplanner/" />
                  <button type="submit" class="btn btn-block btn-dark btn-form">{% trans "Create account" %}</button>
                  <p class="login-signup">{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">log in here</a>.{% endblocktrans %}</p>
                </form>
             </div>
            </div>
          </div>
          
        </div>
    </div>
  </div>
{% endblock %}
