{% extends "base.html" %}

{% block header_title %}
    Recipe list
{% endblock header_title %}
{% block header_extra %}
    <div class="row">
        <div class="col-9">
            {% if user.is_authenticated %}
                <p class="lead fw-normal">
                    Find your new favorite recipe here, {{ user.first_name }}!
                </p> 
            {% else %}
                <p class="lead fw-normal">
                    Your new favorite recipe awaits - create an account now to check them out!
                </p> 
                <a href="{% url 'account_signup' %}" class="btn btn-dark">Create account</a>
            {% endif %}
        </div>
    </div>
{% endblock header_extra %}
{% block content %}
    <div class="container py-5">
        <div class="row mb-5">
            <div class="col-md-2">
                <fieldset>
                    <p class="fw-bold">Meal type:</p>
                    <div>
                      <input type="checkbox" id="breakfast-toggle" name="breakfast-toggle" onclick="toggleMealTypes()" checked>
                      <label for="breakfast-toggle">Breakfast</label>
                    </div>
                    <div>
                      <input type="checkbox" id="lunch-toggle" name="lunch-toggle" onclick="toggleMealTypes()" checked>
                      <label for="lunch-toggle">Lunch</label>
                    </div>
                    <div>
                        <input type="checkbox" id="dinner-toggle" name="dinner-toggle" onclick="toggleMealTypes()" checked>
                        <label for="dinner-toggle">Dinner</label>
                      </div>
                      <div>
                        <input type="checkbox" id="snack-toggle" name="snack-toggle" onclick="toggleMealTypes()" checked>
                        <label for="snack-toggle">Snack</label>
                      </div>
                </fieldset>
            </div>
            <div class="col-md-3">
                <p class="fw-bold">Diet type:</p>
                <select id="diet-type-select" class="form-control" onclick="filterDietType()">
                    <option>Any</option>
                    <option>Vegetarian</option>
                    <option>Vegan</option>
                </select>
            </div>
            <div class="col-md-7">
                <p class="fw-bold"> </p>
                <input class="form-control me-2" id="meal-search" type="search" placeholder="Search meals" aria-label="Search" onkeyup="searchMeals()">
            </div>
        </div>
        <div id="meals-list">
            <div id="breakfast-list">
                <hr>
                <h3>Breakfast</h3>
                <div class="row row-cols-sm-2 row-cols-md-3 g-3">
                    {% for meal in meal_list %}
                        {% if meal.type|stringformat:"s" == 'Breakfast' %}
                            <div class="col-md-3 meal-card diet-filter-any">
                                <div class="card mb-4 h-100">
                                    <a href="{% url 'meal_detail' meal.id %}" class="btn btn-light h-100">
                                        <img class="card-img-top" src="{{ meal.image.url }}">
                                        <div class="card-body">
                                            <h1 class="card-title">{{ meal.name }}</h1>
                                            <p class="card-text">
                                                <strong>Meal type:</strong> <span class="meal-type">{{ meal.type }}</span> <br>
                                                {% if meal.diet != None %}
                                                    <strong>Diet type:</strong> <span class="diet-type">{{ meal.diet }}</span> <br>
                                                {% else %}
                                                    <span class="diet-type"></span>
                                                {% endif %}
                                                <strong>Prep time:</strong>  {{ meal.prep_time }} <br>
                                                <strong>Cooking time:</strong> {{ meal.cook_time }}
                                            </p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div id="lunch-list">
                <hr>
                <h3>Lunch</h3>
                <div class="row row-cols-sm-2 row-cols-md-3 g-3">
                    {% for meal in meal_list %}
                        {% if meal.type|stringformat:"s" == 'Lunch' %}
                            <div class="col-md-3 meal-card diet-filter-any">
                                <div class="card mb-4 h-100">
                                    <a href="{% url 'meal_detail' meal.id %}" class="btn btn-light h-100">
                                        <img class="card-img-top" src="{{ meal.image.url }}">
                                        <div class="card-body">
                                            <h1 class="card-title">{{ meal.name }}</h1>
                                            <p class="card-text">
                                                <strong>Meal type:</strong> <span class="meal-type">{{ meal.type }}</span> <br>
                                                {% if meal.diet != None %}
                                                    <strong>Diet type:</strong> <span class="diet-type">{{ meal.diet }}</span> <br>
                                                {% else %}
                                                    <span class="diet-type"></span>
                                                {% endif %}
                                                <strong>Prep time:</strong>  {{ meal.prep_time }} <br>
                                                <strong>Cooking time:</strong> {{ meal.cook_time }}
                                            </p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div id="dinner-list">
                <hr>
                <h3>Dinner</h3>
                <div class="row row-cols-sm-2 row-cols-md-3 g-3">
                    {% for meal in meal_list %}
                        {% if meal.type|stringformat:"s" == 'Dinner' %}
                            <div class="col-md-3 meal-card diet-filter-any">
                                <div class="card mb-4 h-100">
                                    <a href="{% url 'meal_detail' meal.id %}" class="btn btn-light h-100">
                                        <img class="card-img-top" src="{{ meal.image.url }}">
                                        <div class="card-body">
                                            <h1 class="card-title">{{ meal.name }}</h1>
                                            <p class="card-text">
                                                <strong>Meal type:</strong> <span class="meal-type">{{ meal.type }}</span> <br>
                                                {% if meal.diet != None %}
                                                    <strong>Diet type:</strong> <span class="diet-type">{{ meal.diet }}</span> <br>
                                                {% else %}
                                                    <span class="diet-type"></span>
                                                {% endif %}
                                                <strong>Prep time:</strong>  {{ meal.prep_time }} <br>
                                                <strong>Cooking time:</strong> {{ meal.cook_time }}
                                            </p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div id="snack-list">
                <hr>
                <h3>Snack</h3>
                <div class="row row-cols-sm-2 row-cols-md-3 g-3">
                    {% for meal in meal_list %}
                        {% if meal.type|stringformat:"s" == 'Snack' %}
                            <div class="col-md-3 meal-card diet-filter-any">
                                <div class="card mb-4 h-100">
                                    <a href="{% url 'meal_detail' meal.id %}" class="btn btn-light h-100">
                                        <img class="card-img-top" src="{{ meal.image.url }}">
                                        <div class="card-body">
                                            <h1 class="card-title">{{ meal.name }}</h1>
                                            <p class="card-text">
                                                <strong>Meal type:</strong> <span class="meal-type">{{ meal.type }}</span> <br>
                                                {% if meal.diet != None %}
                                                    <strong>Diet type:</strong> <span class="diet-type">{{ meal.diet }}</span> <br>
                                                {% else %}
                                                    <span class="diet-type"></span>
                                                {% endif %}
                                                <strong>Prep time:</strong>  {{ meal.prep_time }} <br>
                                                <strong>Cooking time:</strong> {{ meal.cook_time }}
                                            </p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{%endblock%}