{% extends 'base.html' %} 

{% block header_title %}
    <span class="sr-only">{{ meal.name }} recipe</span>
{% endblock header_title %}
{% block header_text %}
<a href="/recipe_list" class="btn btn-dark">Back to recipe list</a>
{% endblock header_text %}
{% block content %}
    <div class="container py-5">
        <div class="row g-0">
            <div class="col-md-5 pe-3">
                <h1 class="meal-name">
                    {{ meal.name }}
                </h1>
                <i class="fas fa-utensils"></i>
                <p>
                    <strong>Meal type:</strong> {{ meal.type }} <br>
                    {% if meal.diet != None %}
                        <strong>Diet type:</strong> {{ meal.diet }} <br>
                    {% else %}
                    {% endif %}
                </p>
                <i class="fas fa-clock"></i>
                <p>
                    <strong>Prep time:</strong>  {{ meal.prep_time }} <br>
                    <strong>Cook time:</strong> {{ meal.cook_time }}
                </p>
            </div>
            <div class="d-md-block col-sm-12 col-md-7">
                <img class="recipe-image" src="{{ meal.image.url }}" alt="Picture of {{ meal.name }}">
            </div>
        </div>
    </div>
    <div class="container pb-5">
        <div class="row">
            <div class="col card mb-4 mt-3 bg-accent">
                <div class="card-body">
                    <p class="card-text ">
                        <h3>Ingredients</h3>
                        {% for ingredient in meal.ingredients.all %}
                            {% for ingredients in recipe_ingredients.all %}
                                {% if ingredients.meal == meal %}
                                    {% if ingredient == ingredients.ingredient %}
                                    <ul class="instructions">
                                        <li>{{ ingredients.amount }} {{ ingredient }}</li>
                                    </ul>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                        <hr>
                        <h3>Instructions</h3>
                        {{ meal.description | safe }}
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}