/* base template */

.social-media > li {
    font-size: 1.6rem;
    vertical-align: bottom;
}

/* index template */

#hero-container {
    background-color: #4d4d4d;
}

.icon-square {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    font-size: 1.5rem;
    border-radius: .75rem;
  }

/* meal_detail template */
