/* base template */

.social-media > li {
    font-size: 1.6rem;
    vertical-align: bottom;
}

/* index template */

.hero-container {
    background-color: #4d4d4d;
}

.tool-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.tool-content:last-child {
    text-align: center;
    padding-bottom: 20px;
}
.rounded-tool {
    border-radius: 1rem;
}


/* meal_detail template */
