{% extends "base.html" %}
{% load static %}
{% block header_title %}
    400
{% endblock header_title %}
{% block header_text %}
    Bad Request
{% endblock header_text %}
{% block content %}
  <div class="container py-5">
    <div class="row pb-5">
      <div class="col-md-8 offset-md-2">
        <div class="card account-card bg-light">
          <div class="card-body">
            <div class="account-container text-center">
              <h5 class="pb-3">Unable to process request due to client error.</h5>
              <button class="btn btn-block btn-dark btn-form">Back to home page</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}