{% extends 'base.html' %} 

{% block content %}
    <div id="hero-container" class="jumbotron jumbotron-fluid">
        <div class="container py-5">
            <h1 class="display-4 text-white">A meal prepping community</h1>
            <p class="lead text-white">
                Welcome to What's Cooking! We are passionate about meal prepping, and providing you with the best meal prepping tools.
            </p>
        </div>
    </div>
    <div class="container py-5" id="hanging-icons">
        <h2 class="pb-2 border-bottom">Our tools</h2>
        <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
            <div class="d-flex align-items-start">
                <div class="text-dark flex-shrink-0 me-3">
                    <i class="fa-solid fa-calendar-days"></i>
                </div>
            <div>
                <h2>Meal planner</h2>
                <p>
                    How can you be a real meal prepper without a meal planner? Select the meals you want for each day of the week, 
                    and you will no longer forget What's Cooking for dinner. The plan you make can be edited at any time and will 
                    contain links to the recipes that you picked.
                </p>
                <a href="#" class="btn btn-primary">
                Primary button
                </a>
            </div>
        </div>
        <div class="d-flex align-items-start">
            <div class="text-dark flex-shrink-0 me-3">
                <i class="fa-solid fa-basket-shopping"></i>
            </div>
            <div>
                <h2>Grocery list</h2>
                <p>
                    It's nice to have a meal planner, but how can you prep without a grocery list? Our grocery list tool 
                    automatically updates when you add a new meal to your meal planner, making sure you won't forget a single 
                    ingredient!
                </p>
                <a href="#" class="btn btn-primary">
                    Primary button
                </a>
            </div>
        </div>
        <div class="d-flex align-items-start">
            <div class="text-dark flex-shrink-0 me-3">
                <i class="fa-solid fa-utensils"></i>
            </div>
            <div>
                <h2>Carefully picked recipes</h2>
                <p>
                    It's hard to find simple recipes that you love, so we did the hard work for you. Our recipes are hand-picked 
                    from the best recipe websites that the internet can serve. Filter by breakfast, lunch, dinner, snacks, or 
                    even dietary requirements. Your next favorite meal is only a few clicks away!
                </p>
                <a href="#" class="btn btn-primary">
                    Primary button
                </a>
            </div>
        </div>
    </div>
{% endblock content %}