{% extends 'base.html' %} 

{% block content %}
    <div class="jumbotron jumbotron-fluid hero-container">
        <div class="container-fluid p-5">
            <h1 class="text-white display-2">Meal planner</h1>
            <p class="lead text-white">
                Welcome, username!
            </p>
        </div>
    </div>
    <div class="container py-5">
        <div class="row">
            <div class="col">
                <!-- <h2>Specify the picked date</h2> -->
                <p>Breakfast</p>
                <ul>
                    <li>
                        <select name="item_id">
                            {% for meal in meal_list %}
                                {% if meal.type|stringformat:'s' == 'Breakfast' %}
                                    <option value="{{ meal.id }}">{{ meal.name }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </li>
                </ul>
                <p>Lunch</p>
                <ul>
                    <li>
                        <select name="item_id">
                            {% for meal in meal_list %}
                                {% if meal.type|stringformat:'s' == 'Lunch' %}
                                    <option value="{{ meal.id }}">{{ meal.name }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </li>
                </ul>
                <p>Dinner</p>
                <ul>
                    <li>
                        <select name="item_id">
                            {% for meal in meal_list %}
                                {% if meal.type|stringformat:'s' == 'Dinner' %}
                                    <option value="{{ meal.id }}">{{ meal.name }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </li>
                </ul>
                <p>Snacks</p>
                <ul>
                    <li>
                        <select name="item_id">
                            {% for meal in meal_list %}
                                {% if meal.type|stringformat:'s' == 'Snack' %}
                                    <option value="{{ meal.id }}">{{ meal.name }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- <form method="POST">
        <select name="item_id">
        {% for meal in meal_list %}
            <option value="{{ meal.id }}">{{ meal.name }}</option>
        {% endfor %}
        </select>
    </form> -->
{% endblock content %}